/*

Name:       Base16 Atelier Sulphurpool Light
Author:     Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/sulphurpool)

Prism template by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/prism/)
Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/
.comment,
.prolog,
.doctype,
.cdata {
  color: #898ea4;
}

.punctuation {
  color: #5e6687;
}

.namespace {
  opacity: 0.7;
}

.operator,
.boolean,
.number {
  color: #c76b29;
}

.property {
  color: #c08b30;
}

.tag {
  color: #3d8fd1;
}

.string {
  color: #22a2c9;
}

.selector {
  color: #6679cc;
}

.attr-name {
  color: #c76b29;
}

.entity,
.url,
.language-css .string,
.style .string {
  color: #22a2c9;
}

.attr-value,
.keyword,
.control,
.directive,
.unit {
  color: #ac9739;
}

.statement,
.regex,
.atrule {
  color: #22a2c9;
}

.placeholder,
.variable {
  color: #3d8fd1;
}

.deleted {
  text-decoration: line-through;
}

.inserted {
  border-bottom: 1px dotted #202746;
  text-decoration: none;
}

.italic {
  font-style: italic;
}

.important,
.bold {
  font-weight: bold;
}

.important {
  color: #c94922;
}

.entity {
  cursor: help;
}
