@import url('https://fonts.googleapis.com/css?family=Oleo+Script');
@import url('https://fonts.googleapis.com/css?family=Arimo');

@mixin oleo {
  font-family: 'Oleo Script';
  font-weight: 300;
  font-style: normal;
}

@mixin arimo {
  font-family: 'Arimo';
  font-weight: 400;
  font-style: normal;
}

.regularText {
  @include oleo;
}

.headerText {
  @include arimo;
}

.fontElementMap {
  @extend .regularText !optional;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @extend .headerText !optional;
  }
}

:global {
  .glob_regularText {
    @include oleo;
  }

  .glob_headerText {
    @include arimo;
  }

  .glob_fontElementMap {
    @extend .glob_regularText !optional;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @extend .glob_headerText !optional;
    }
  }
}
