.labeled_toggle_input_container {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 23px;
}

.labeled_toggle_input_container:hover {
 opacity: 0.6;

  @include phone {
   opacity: 1;
 }
}

.labeled_toggle_input_container_off {
 opacity: 0.6;
}

.labeled_toggle_input_container_off:hover {
  opacity: 1;

  @include phone {
    opacity: 0.6;
  }
}

.labeled_toggle_input_root {
  margin-left: auto;
  display: flex;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.labeled_toggle_root {
  display: flex;
}

.labeled_toggle_root * p {
  margin: 0px;
}

.labeled_toggle_root {
  padding-top: 30px;
   @include phone {
    padding-top: 0px;
  }
}

.labeled_toggle_root + .labeled_toggle_root {
  @include phone {
    padding-top: 36px;
  }
}

.labeled_toggle_checkbox_input {
  width: 100%;
  height: 100%;
  margin: 0
}

.labeled_toggle_switch {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  pointer-events: none
}

.labeled_toggle_label_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.labeled_toggle_label {
  font-size: 14px;
}

.labeled_toggle_track {
  flex: 1;
  height: 100%;
  border-radius: 12px;
}

.labeled_toggle_slider {
  position: absolute;
  width: 22px;
  height: 21px;
  border-radius: 50%;
  transition: transform 0.3s;
}
