.DS_Store
dist
node_modules
*npm-debug.log
lerna-debug.log
yarn-error.log
yarn.lock
target
maven
stats.html
.env

#Webstorm
**/.idea/*
*.iml

#VSCode
**/.project
**/.settings/*
*.code-workspace

.history/**
*.todo
