.emojiSelect {
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
}

.emojiSelectButton,
.emojiSelectButtonPressed {
  padding: 0;
  box-sizing: border-box;
  border: 0;
  background: transparent;
  cursor: pointer;
  color: inherit;
}

.emojiSelectButtonPressed {
}

.emojiSelectPopover {
  bottom: 50px;
  padding: 0 5px;
  position: fixed;
  z-index: 1000;
  box-sizing: content-box;
  background: #fff;
  border: 1px solid #e0e0e0;
  box-shadow: 0 4px 30px 0 gainsboro;
}

.emojiSelectPopoverClosed {
  display: none;
}

.emojiSelectPopoverTitle {
  position: relative;
  text-align: left;
  margin: 5px 0;
  padding-left: 15px;
  height: 38px;
  line-height: 38px;
  font-weight: normal;
  font-size: 14px;
  color: #9e9e9e;
}

.emojiSelectPopoverTitle::before {
  position: absolute;
  top: 0;
  left: 235px;
  font-style: italic;
  font-size: 12px;
  content: 'By EmojiOne';
}

.emojiSelectPopoverGroups {
  margin: 0 0 5px;
  position: relative;
  z-index: 0;
  width: 320px;
  height: 190px;
}

.emojiSelectPopoverGroup {
  padding: 0 6px;
}

.emojiSelectPopoverGroup:first-child .emojiSelectPopoverGroupTitle {
  display: none;
}

.emojiSelectPopoverGroupTitle {
  margin: 15px 0;
  padding-left: 8px;
  font-weight: normal;
  font-size: 14px;
  color: #9e9e9e;
  text-align: left;
}

.emojiSelectPopoverGroupList {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.emojiSelectPopoverGroupItem {
  width: 38px;
  height: 38px;
}

.emojiSelectPopoverToneSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
}

.emojiSelectPopoverToneSelectList {
  margin: 5px;
  padding: 5px;
  position: absolute;
  display: flex;
  list-style: none;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.emojiSelectPopoverToneSelectItem {
  width: 38px;
  height: 38px;

  &:first-child {
    border-right: 1px solid #e0e0e0;
  }
}

.emojiSelectPopoverEntry,
.emojiSelectPopoverEntryFocused {
  padding: 0;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  transition: background-color 0.4s cubic-bezier(0.27, 1.27, 0.48, 0.56);
}

.emojiSelectPopoverEntryFocused {
  background-color: #efefef;
}

.emojiSelectPopoverEntryIcon {
  width: 23px;
  height: 23px;
  vertical-align: middle;
}

.emojiSelectPopoverNav {
  margin: 0;
  padding: 0 6px;
  display: -webkit-box;
  display: flex;
  list-style: none;
}

.emojiSelectPopoverNavItem {
  width: 38px;
  height: 38px;

  svg {
    width: 18px !important;
    height: 18px !important;
  }
}

.emojiSelectPopoverNavEntry,
.emojiSelectPopoverNavEntryActive {
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 1.2em;
  color: #bdbdbd;
  background: none;
  border: none;
}

.emojiSelectPopoverNavEntryActive {
  color: #42a5f5;
}

.emojiSelectPopoverScrollbar {
  position: absolute;
  right: 0;
  top: 5px;
  bottom: 5px;
  width: 4px;
  background-color: #e0e0e0;
  border-radius: 2px;
  opacity: 0.1;
  transition: opacity 0.4s;
}

.emojiSelectPopoverScrollbarThumb {
  background-color: #000;
  border-radius: 2px;
  cursor: pointer;
}

.emojiSelectPopoverGroups:hover .emojiSelectPopoverScrollbar {
  opacity: 0.3;
}

.emojiSelectPopoverGroups .emojiSelectPopoverScrollbar:hover,
.emojiSelectPopoverGroups .emojiSelectPopoverScrollbar:active {
  opacity: 0.6;
}
.emoji {
  background-position: center;
  /* make sure the background the image is only shown once */
  background-repeat: no-repeat;
  background-size: contain;
  /* move it a bit further down to align it nicer with the text */
  vertical-align: middle;

  /*
  We need to limit the emoji width because it can be multiple characters
  long if it is a 32bit unicode. Since the proper width depends on the font and
  it's relationship between 0 and other characters it's not ideal. 1.95ch is not
  the best value, but hopefully a good enough approximation for most fonts.
  */
  display: inline-block;
  overflow: hidden;
  max-width: 1.95ch;
  /*
  Needed for iOS rendering to avoid some icons using a lot of height without
  actually needing it.
  */
  max-height: 1em;
  line-height: inherit;
  margin: -0.2ex 0em 0.2ex;
  /*
  In the past we used opacity: 0 to hide the original Emoji icon no matter what
  system it is. Recently we switched to color: transparent since it started to
  work in recent iOS version.
  */
  color: transparent;
}
.emojiSuggestionsEntry,
.emojiSuggestionsEntryFocused {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  transition: background-color 0.4s cubic-bezier(0.27, 1.27, 0.48, 0.56);
}

.emojiSuggestionsEntry:active {
  background-color: #cce7ff;
}

.emojiSuggestionsEntryFocused {
  background-color: #e6f3ff;
}

.emojiSuggestionsEntryText {
  display: inline-block;
  margin-left: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 368px;
  font-size: 14px;
}

.emojiSuggestionsEntryIcon {
  width: 15px;
  height: 15px;
  margin-left: 4px;
  margin-right: 4px;
  display: inline-block;
}
.emojiSuggestions {
  border: 1px solid #eee;
  margin-top: 1.75em;
  position: absolute;
  min-width: 220px;
  max-width: 440px;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0px 4px 30px 0px rgba(220, 220, 220, 1);
  cursor: pointer;
  padding-top: 8px;
  padding-bottom: 8px;
  z-index: 2;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  box-sizing: border-box;
  -webkit-transform: scale(0);
  transform: scale(0);
}
