.emoji_selectButton {
  width: 19px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.emoji_selectButton_icon {
  width: 15px;
  height: 15px;
  padding-bottom: 2px;
}
