@import '~wix-rich-content-common/dist/statics/styles/mixins';
@import '~wix-rich-content-common/dist/statics/styles/palette';

.button_sample {
  font-size: 14px;
  border-style: none;
  height: 40px;
  width: 104px;
  padding-bottom: 3px;
  padding-right: 6px;
  box-sizing: border-box;
  cursor: pointer;
  @include phone {
    padding-bottom: 1px;
  }
}
.button_sample_container {
  position: relative;
  width: fit-content;
  display: inline-block;
  margin-right: 24px;
  margin-bottom: 24px;
  @include phone {
    margin-bottom: 0px;
  }
}

.button_sample_container:nth-child(3n) {
  margin-right: 0px;
  @include phone {
    margin-right: 22px;
  }
}

.picked {
  position: absolute;
  right: -7px;
  top: -7px;
}
