.PreviewComponent_preview_container {
  height: 104px;
  width: 100%;
  background: #f2f2f2;
}
.PreviewComponent_header {
  font-size: 10px;
  color: #d3d3d3;
  width: 100%;
  text-align: center;
  padding-top: 10px;
}
.PreviewComponent_button {
  text-align: center;
  padding-top: 6px;
  padding-bottom: 14px;
}
