.wrapper {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  font-family: 'Roboto', 'Helvetica';
  font-weight: 300;
  padding-bottom: 20px;
  background-color: #338de8;
  color: white;
  text-align: center;
}

.header h1 {
  font-weight: 300;
  cursor: pointer;
}

.header .toggle-container {
  text-align: center;
  margin-bottom: 20px;
}

.header .toggle-container .toggle {
  display: inline-block;
  margin-right: 25px;
  font-size: small;
}

.header .toggle-container .toggle label {
  cursor: pointer;
}

.header .intro {
  display: inline-block;
  font-size: 11.5px;
}

.content {
  flex: 1;
  width: 100%;
  margin: 0 auto;
  background: white;
  padding: 20px 40px;
}

.columns {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: nowrap;
}

.column {
  width: 740px;
  min-height: 650px;
  padding: 0 10px;
}

.column+.column {
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.raw_input_button {
  height: 50px;
  margin-top: 10px;
  cursor: pointer;
  background: #338de8 !important;
  color: #fff !important;
}

/*** MOBILE ***/
@media only screen and (max-width: 740px) {
  .content {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 18px;

    .column {
      width: 100%;
      padding: 0;
    }
  }
}
