@import '~wix-rich-content-common/dist/statics/styles/consts';
@import '~wix-rich-content-common/dist/statics/styles/mixins';
.wrapper {
  :global {
    .DraftEditor-editorContainer,
    .DraftEditor-root,
    .public-DraftEditor-content {
      height: inherit;
      text-align: initial;
    }
    .public-DraftEditor-content[contenteditable='true'] {
      -webkit-user-modify: read-write-plaintext-only;
    }
    .DraftEditor-root {
      position: relative;
    }
    .DraftEditor-alignLeft .public-DraftStyleDefault-block {
      text-align: left;
    }
    .DraftEditor-alignLeft .public-DraftEditorPlaceholder-root {
      left: 0;
      text-align: left;
    }
    .DraftEditor-alignCenter .public-DraftStyleDefault-block {
      text-align: center;
    }
    .DraftEditor-alignCenter .public-DraftEditorPlaceholder-root {
      margin: 0 auto;
      text-align: center;
      width: 100%;
    }
    .DraftEditor-alignRight .public-DraftStyleDefault-block {
      text-align: right;
    }
    .DraftEditor-alignRight .public-DraftEditorPlaceholder-root {
      right: 0;
      text-align: right;
    }
    .public-DraftStyleDefault-block {
      position: relative;
      white-space: pre-wrap;
    }
    .public-DraftStyleDefault-ltr {
      direction: ltr;
      text-align: left;
    }
    .public-DraftStyleDefault-rtl {
      direction: rtl;
      text-align: right;
    }
    .public-DraftStyleDefault-listLTR {
      direction: ltr;
    }
    .public-DraftStyleDefault-listRTL {
      direction: rtl;
    }
    .public-DraftStyleDefault-ol,
    .public-DraftStyleDefault-ul {
      margin: 0;
      @include phone {
        margin: 0;
      }
    }
  }
}
