@mixin svg-fill {
  svg {
    fill: currentColor;
  }
}

@mixin block-select {
  cursor: default;
  box-shadow: 0 0 0 3px $accent-color;
}

$phone: 640px;

@mixin phone {
  @media only screen and (max-width: $phone) {
    @content;
  }
}
