@import '~wix-rich-content-common/dist/statics/styles/palette';
@import '~wix-rich-content-common/dist/statics/styles/mixins';

.mobileToolbar {
  position: relative;
  border-bottom: 1px solid rgba($secondary-text-color, 0.2);
}

.mobileToolbar_scrollableContainer {
}

.mobileToolbar_fixed {
  position: fixed;
  top: 0;
}

.mobileToolbar_buttons {
}

.mobileToolbar_responsiveSpacer {
}

.mobileToolbar_responsiveArrow {
}

.mobileToolbar_responsiveArrowLeft,
.mobileToolbar_responsiveArrowRight {
}

.mobileToolbar_responsiveArrowLeft_icon {
}

.mobileToolbar_responsiveArrowRight_icon {
}

.mobileToolbar_extend {
}
