.mobileLinkModal_titleContainer {
  display: flex;
  padding: 30px 22px 2px;
}

.mobileLinkModal_linkIconContainer {
  width: 19px;
  height: 19px;
  margin-right: 11px;
}

.mobileLinkModal_title {
  margin: 0;
  font-size: 16px;
}
