%button {
  font-size: 14px;
}

.button_primary {
  @extend %button;
  color: #fff;
  background-color: #0261ff;
}

.button_secondary {
  @extend %button;
  border: 1px solid #4990e2;
  background: #fff;
  color: #4990e2;
  &:hover {
    color: #fff;
    background: #5cb4ff;
  }
  &:active {
    background: #4990e2;
    color: #fff;
  }
}
