$innerSpacing: 40px;
$textWidth: 100%;
$textMobileWidth: 90%;
$icon-width: 19px;
$footer-toolbar-height: 52px;
$toolbarBorderRadius: 6px;
$headerOneHeight: 42px;
$headerTwoHeight: 36px;
$headerThreeHeight: 30px;
