@import "./consts";
@import "./mixins";
@import "./palette";

.colorPickerDialog {
  margin: 24px;
  margin-bottom: 15px;
  width: auto;
  @include phone {
    margin: 27px 18px 15px;
  }
}

.colorPickerDialog_button {
  border: none;
  outline: none;
  background: transparent;
  line-height: 1.5;
  font-size: 14px;
  font-weight: 300;
  cursor: pointer;
  flex: none;
  padding: 0;
}

.colorPickerDialog_button_update {
  color: $accent-color;
}

.colorPickerDialog_buttons {
  display: flex;
  justify-content: space-between;
}

.colorPickerDialog_separator {
  border: none;
  height: 1px;
  background: rgba(51, 51, 51, 0.1);
  width: 100%;
}
