@import './mixins';
@import './palette';
@import './consts';

.inlineToolbarButton_wrapper {
  display: flex;
  padding: 10px 0;
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
}

.inlineToolbarButton {
  background: transparent;
  color: $toolbar-font-color;
  padding: 5px;
  border: 0 none;
  line-height: normal;
  margin: 0;
  cursor: pointer;
  &:hover,
  &:focus {
    outline: 0;
    color: $accent-color;
  }
}

.inlineToolbarButton_icon {
  width: $icon-width;
  height: $icon-width;
  vertical-align: middle;
  color: $toolbar-font-color;

  svg {
    width: 100%;
    height: 100%;
  }

  @include svg-fill;
}

.inlineToolbarButton_active,
.inlineToolbarButton_icon:hover {
  color: $accent-color;
  @include svg-fill;
}
