$primary-color: #607d8b;
$primary-color-dark: #455a64;
$primary-color-light: #fbfbfb;
$accent-color: #0261ff;
$primary-text-color: #212121;
$primary-text-color-light: #e6e6e6;
$secondary-text-color: #757575;

$modal-input-color: #333333;
$modal-warning-color: #ee5951;
$modal-btn-confirm-primary-color: white;
$modal-btn-confirm-secondary-color: #0261ff;

$toolbar-font-color: #333333;
$toolbar-border-color: #ededed;
