.tabs {
  width: 100%;
}

.tabs_headers {
  display: flex;
  justify-content: space-evenly;
  height: 50px;
  border-bottom: solid 1px #ededed;
  font-size: 14px;
  line-height: 1.5;
  cursor: pointer;
}

.tabs_headers_option {
  padding: 1em;
  width: 100%;
  text-align: center;
  cursor: pointer;
  border: none;
  border-bottom: 3px solid transparent;
  background-color: transparent;
  font-size: 14px;
  font-weight: 300;
}

.tabs_headers_option_selected {
  border-bottom: solid 3px #0261ff;
}

.tabs_headers_option + .tabs_headers_option {
  border-left: solid 1px #ededed;
}

.tabs_panel {
  padding: 24px 30px 30px 30px;
}

.tabs_headers_option_label {
  cursor: pointer;
}
