.divider-container {
  box-sizing: border-box;
  width: 100%;
  height: 29px;
  padding-top: 14px;
  max-width: 100%;
  margin: 0 auto;

  &--double {
    padding-top: 11px;
  }
}

.divider {
  box-sizing: border-box;
  display: block;
  stroke: currentColor;
  stroke-width: 1;
  shape-rendering: crispEdges;

  &--single,
  &--double,
  &--dashed,
  &--dotted {
    height: 100%;
  }

  &--dashed {
    stroke-dasharray: 4 4;
  }

  &--dotted {
    stroke-dasharray: 1 5;
  }

  &--small,
  &--small--mobile {
    width: 10%;
  }

  &--medium,
  &--large--mobile {
    width: 40%;
  }

  &--medium--mobile {
    width: 20%;
  }

  &--large {
    width: 100%;
  }

  &--left {
    margin-right: auto;
  }

  &--center {
    margin: 0 auto;
  }

  &--right {
    margin-left: auto;
  }
}
