.appLogo {
  height: 120px;
}

.appHeader {
  text-align: center;
  background-color: #222;
  height: 160px;
  padding: 20px;
  color: white;
}

.appIntro {
  font-size: large;
  width: 960px;
  margin: 0 auto;
}
